

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    font-family: 'Gotham';
    font-size: 18px;
    font-weight: 300;
    gap: 10px;
    color: var(--fonte-white);
    
}
.menu .logo img{
    width: 4vw;
    cursor: pointer;
}

mat-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(62, 10, 105);
    width: 100%;
    
    max-width: 100%;
    box-shadow: 1px 1px 1rem black;
}
mat-toolbar .menu{
    margin-left: 10px;
}
.example-icon{
    transition: 0.5s;
}
.example-icon:hover{
    background-color: var(--bk-card);
    color: #000;
}
.menu div a{
    color: white;
    text-decoration: none;
}

//login
.login{
  
    display: flex;
    align-items: center;
    justify-content: space-around; 
    font-family: 'Gotham';
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
    
}
.login a{
    text-decoration: none;
    color: var(--fonte-white);
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

