
  <div class="menu">
    
    <mat-toolbar>
        <div class="menu">

   <span><a  class="logo" href="/inicio"  ><img src="assets/images/png/icons8-gamer-64.png" alt=""></a> </span> 
        
      <a href="/inicio" >PRODUTOS</a>  
        </div>

        <div class="login">
          <span class="example-spacer"></span>
     <span><a  href="/login" >Login</a></span>
    
    <a href="" onclick="sair()"><img  src="assets/images/svg/logout_FILL0_wght400_GRAD0_opsz24.svg" alt="">
       </a> 
        </div>
      
      
    </mat-toolbar>
 
  </div>
 
  

  
 
